cataloguecaviste/*
cataloguepro25.03.16/*
catalogueancien/*
cataloguepro-old/*
cataloguepublic/*
cataloguepublic-22-12-15/*
cataloguepublicancien/*
cataloguepublicAncien2015/*
cataloguepublic-ancien-2015/*
cataloguepublic-old/*
Admin5985/backups/*
Admin5985/import/*
Download/*
cache/*
*.bak
*.csv
img/tmp/*
thumbs.db
log